.choose-size {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.choose-size__item {
  box-sizing: border-box;
  width: 32%;
  padding: 17px 0;
  border: 2px solid #ececec;
  font-size: 17px;
  line-height: 17px;
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    border-color: $main-color;
  }
}
