.form {
  margin-bottom: 55px;
}

.form__intro-text {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $text-color;
}

@media (min-width: 1150px) {
  .form__intro-text {
    margin-left: 175px;
  }
}
