.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: $main-color;

  &::after {
    content: "";
    width: 77%;
    height: 1px;
    background-color: $main-color;
  }

  &[for="order-form__email"]::after {
    width: 69%;
  }
}

.order-form__inputs {
  display: flex;
  flex-direction: column;
}

.order-form input[type="radio"]:checked + label::after {
  box-shadow: 0 0 0 12px #ffffff inset, 0 0 0 20px $main-color inset;
}

.order-form input[type="checkbox"]:checked + label::after {
  background: url("../img/icon-tick.svg") no-repeat center center;
  background-size: 25px 25px;
}

.order-form input[type="checkbox"],
.order-form input[type="radio"] {
  @include visuallyhidden;
}

.order-form__color label,
.order-form__type label {
  position: relative;
  padding: 13px 0;
  padding-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.order-form__color label::after {
  @include pseudo-element(38px, 38px, 0, 0);
  border: 2px solid black;
}

.order-form__color label:hover::after,
.order-form__type label:hover::after {
  border-color: $main-color;
}

.order-form__color label:active::after,
.order-form__type label:active::after {
  border-color: #c7c7c7;
}

.order-form__type label::after {
  @include pseudo-element(40px, 40px, 0, 0);
  border-radius: 50%;
  border: 2px solid black;
}

.order-form input:focus + label::after {
  border-color: $main-color;
}

.order-form__text-input {
  width: 100%;
  margin-bottom: 35px;
  border: none;
  border-bottom: 2px solid #000000;
  padding-bottom: 17px;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $text-color;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    outline: none;
    border-bottom-color: $main-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form legend {
  text-transform: uppercase;
}

.order-form__additional {
  box-sizing: border-box;
  padding: 16px 17px;
  width: 100%;
  min-height: 143px;
  margin-bottom: 17px;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $text-color;
  resize: none;
  outline: none;

  &:hover {
    border-color: $main-color;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:focus {
    border-color: $main-color;
  }
}

.order-form__sidetext {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $text-color;
}

.order-form__email,
.order-form__phone, {
  box-sizing: border-box;
  padding-right: 44px;
}

.order-form__phone {
  background: url("../img/icon-phone.svg") no-repeat right 10px bottom 10px;
}

.order-form__email {
  background: url("../img/icon-mail.svg") no-repeat right 10px bottom 10px;
}

.order-form__contacts,
.order-form__wishes {
  .order-form__wrapper {
    margin-top: 30px;
  }
}

.order-form__submut {
  width: 100%;
}

@media (min-width: 768px) {
  .order-form__title {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .order-form__inputs {
    width: 505px;
  }

  .order-form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .order-form__color {
    padding: 48px 0;
    background-color: #f1f1f1;

    .order-form__inputs {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    label {
      box-sizing: border-box;
      flex-basis: 50%;
    }
  }

  .form__intro-text {
    font-size: 17px;
    line-height: 30px;
    text-align: left;
  }

  .order-form__bio {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .order-form__contacts {
    padding-top: 59px;
    padding-bottom: 48px;
    background-color: #f1f1f1;

    input {
      width: 501px;
    }

    .order-form__wrapper {
      margin-bottom: 33px;
    }
  }

  .order-form__sidetext {
    margin-bottom: 0;
    order: 1;
  }

  .order-form__submut {
    width: 231px;
  }
}

@media (min-width: 1150px) {
  .order-form__inputs,
  .order-form__additional {
    width: 700px;
  }

  .order-form__color {
    .order-form__inputs {
      width: 875px;
    }

    label {
      flex-basis: 29%;
    }
  }

  .order-form__contacts {
    input {
      width: 700px;
    }
  }

  .order-form__title {
    width: 175px;
  }

  .order-form__title legend {
    margin: 0 auto;
  }

  .order-form__submut {
    margin-left: 175px;
  }

  .order-form__sidetext {
    margin-right: 175px;
  }
}
