.social {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;

  &__item--instagram {
    background: url("../img/icon-insta.svg") no-repeat center center;
  }

  &__item--facebook {
    background: url("../img/icon-fb.svg") no-repeat center center;
  }

  &__item--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center center;
  }
}

.social__item {
  font-size: 0;
  width: 59px;
  height: 59px;
}

@media (min-width: 768px) {
  .social {
    border-bottom: none;
  }
}
